        * {
            box-sizing: border-box;
        }
        
        :root {
            --color1: #E6DFB2;
            --color2: #F4F4F4;
        }

        body {
            margin: 0;
            font-family: Arial;
            line-height: 1.4;
        }

        iframe {
            width: 100%;
            border: none;
            height: 350px;
        }

        div.cover {
            background: url(cover_overlay.png)no-repeat center/100% 100%,url(cover_sasa.png) no-repeat center/ cover;
            height: 400px;
            position: relative;
        }
        
        img.cover-profile{
            height: 200px;
            position: relative;
            left: 50%;
            margin-left: -100px;
            top: 20px;

        }
        
        h1 {
            color: white;
            text-align: center;
            font-size: 35px;
            margin-top: 10px;
            margin-bottom: 0px;
        }

        div.cover p {
            color: lightgray;
            text-align: center;
            margin-top: 5px;
            font-size: 14px;
        }

        div.cover-contact {
            position: absolute;
            top: 20px;
            left: 10px;
            border-left: 3px solid var(--color1);
            padding-left: 8px;
        }

        div.cover-contact p {
            text-align: left;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        div.cover-contact p:first-child {
            margin-bottom: 12px;
        }

        div.cover-contact * {
            color: white;
            font-size: 14px;
        }

        a.contact-button {
            color: #E6DFB2;
            border: 2px solid var(--color1);
            padding: 8px 20px;
            text-decoration: none;
            background-color: #00000040;
            display: inline-block;
            margin-top: 15px;
            font-size: 15px;
        }

        a.contact-button:hover {
            color: white;
            border: 2px solid white;
        }

        .section {
                    padding-left: 40px;
                    padding-right: 40px;
                    padding-top: 30px;
                    padding-bottom: 30px;
                    overflow: auto;
                }

        div.section-grise1 {
            background: url(triangle2white.svg) no-repeat center bottom -1px/100%;
            background-color: var(--color2);
            padding-bottom: 70px;
        }

        div.section-grise1 p {
            text-align: center;
            font-size: 20px;
            color: #656565;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
            
        }

        div.section-grise2 {
            background: url(triangle1white.svg) no-repeat center top/100%;
            background-color: var(--color2);
            padding-top: 80px;
        }

        .portfolio-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            justify-content: center; /* Centrer horizontalement */
            align-items: center; /* Centrer verticalement */
        }

        h2 {
            text-align: center;
            font-size: 34px;
            margin-top: 0px;
        }

        div.separateur {
            background-color: #979797;
            height: 1px;
            width: 150px;
            position: relative;
            left: 50%;
            margin-left: -75px;
        }

        .col40 {
            width: 40%;
        }

        .col60 {
            width: 60%;
            padding-left: 16px;
        }

        .float-right {
            float:right;
        }

        div.text-avec-ligne-verticale {
            border-left: 4px solid var(--color1);
            padding-left: 8px;
            height: 50px;
            display: inline-block;
        }

        .center-image p {
                    text-align:justify;
                }

        div.text-avec-ligne-verticale p {
            margin-top: 0;
            text-align: justify;
        }

        div.barre-verticale {
            height: 50px;
            width: 4px;
            background-color: var(--color1);
            margin-right: 8px;
        }

        .col-portfolio {
            width: 47%;
            margin: 10px;
            display: inline-block;
            vertical-align: top;
        }

        div.frame {
            margin: 30px 50px;
            padding: 20px 30px;
            background-color: white;
            box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
        }

        div.frame img {
            width: 120px;
        }

        p.frame-title{
            font-size: 30px;
            margin-top: 4px;
            margin-bottom: 20px;
            text-align: center;
        }

        /* PORTFOLIO */

        .portfolio-header {
            height: 90px;
            background: url(header.jpg) no-repeat center/cover;
            position: relative;
        }

        .portfolio-header-title {
            font-size: 26px;
            font-weight: bold;
            color: white; 
            padding-left: 8px;
        }

        h1.portfolio {
            font-size: 46px;
            color: black;
            line-height: 1;
            padding-top: 10px;
        }

        h2.portfolio {
            font-size: 26px;
            color: black;
            font-weight: normal;
            margin-bottom: 0;
        }

        a.portfolio-back {
            color: val(--color1);
            margin-left: -10px;
        }

        img.portfolio {
            width: 70%;
            max-width: 475px;
        }

        .image-me {
            max-width: 350px;
            min-width: 90px;
        }

        .display-mobile{
            display: none;
        }



        /* RESPONSIVE DESIGN : MOBILE*/

        @media only screen and (max-width: 767px) {

        div.cover {
            height: 320px;
        }

        div.cover-contact {
            top: 15px;
            left: 8px;
            border-left: 2px solid var(--color1);
            padding-left: 6px;
        }

        div.cover-contact a {
            font-size: 8px;
        }

        img.cover-profile{
            height: 100px;
            margin-top: 20px;
            margin-left: -45px;
        }
        
        h1 {
            font-size: 30px;
            margin-top: 6px;
            margin-bottom: 0px;
        }

        div.cover p {
            margin-top: 2px;
            font-size: 13px;
        }

        a.contact-button {
            padding: 5px 15px;
            margin-top: 23px;
            font-size: 12px;
        }

        .section {
                    padding-left: 20px;
                    padding-right: 20px;
                }

        div.section-grise1 {
            padding-bottom: 40px;
        }

        div.section-grise1 p {
            font-size: 18px;
        }

        h2 {
            font-size: 30px;
        }

        .col-portfolio {
            width: 90%;
        }

        /*PORTFOLIO*/

        .portfolio-header-title {
            padding-left: 4px;
            padding-top: 8px;
            font-size: 20px;
        }

        h1.portfolio {
            font-size: 30px;
        }

        h2.portfolio {
            font-size: 16px;
        }

        .col40 {
            width: 65%; 
        }

        .center-image {
                    text-align: center;
                }
        .center-image p {
                    text-align:justify;
                }

        .col60 {
            width: 100%;
            padding-left: 0px;
            margin-top: 20px;
        }

        div.frame {
            margin: 0px 0px;
            padding: 0px 0px;
            box-shadow: none;
        }

        div.frame img {
            width: 80px;
        }

        img.portfolio {
            width: 100%;
        }

        .display-mobile{
            display: block;
        }



        }
